* { 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}
body{
	background-image: url("../image/bgm.png");
	background-size: cover;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.fa {
	color: #FFFFFF;
	font-size: 28px;
}
.active {
  display: block;
}
nav{
	text-align: center;
}
.mainNav{
	font-size: 16px;
	padding-top: 25px;
	margin: 15px auto;
	list-style: none;
}
.navh{
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	-webkit-box-shadow: 0 13px 20px -4px #202967;
	-moz-box-shadow: 0 13px 20px -4px #202967;
	box-shadow: 0 13px 20px -4px #202967;
	border-bottom: 3px solid #FFFFFF ;
}
.nav{
	color: #FFFFFF;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}
.mainNav{
	display: none;
}
.active {
  display: block;
  }
span{
	position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: black;
    font-size: 24px;
}
.desktop{
	display: none;
}
.mobile{
	text-align: left;
	padding-top: 60px;
}
.anak8{
	margin-left: 11vw;
	font-size: 3vw;
	font-family: 'Poppins', sans-serif;
	color: #FFFFFF;
	font-weight: 500;
}
.pkami {
	margin-left: 11vw;
}
.kami{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 3.2vw;
	font-family: verdana;
	font-style: italic;
	padding: 8px;
	border: 3px solid #FFFFFF;
	border-radius: 2vw;
	font-weight: 200;
	transition: 0.5s;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px -1px 16px 6px rgba(181,81,47,1);
	-moz-box-shadow: 0px -1px 16px 6px rgba(181,81,47,1);
	box-shadow: 0px -1px 16px 6px rgba(181,81,47,1);
}
/*.kami:hover{
	text-align: center;
	color: white;
	background-color: #ea5826;
}*/
.hal{
	margin-left: 10vw;
}

@media screen and (min-width: 768px) {
body{
	background-image: url("../image/bg.png") ;
	background-size: cover;
}
nav, ul, li{
	display: block;
}
 nav{
	text-align: center;
}
.mainNav{
	font-size: 16px;
	padding-top: 30px;
	margin: 15px auto;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
}	
li{
	padding-left: 60px;
	padding-right: 60px; 
}
#bar{
	display: none;
}
.desktop{
	padding-left: 90px;
	display: block;
}
.mobile{
	display: none;
}
.anak8{
	margin-left: .5vw;
	color: #FFFFFF;
	font-size: 1.4vw;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}
.kami{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1vw;
	font-family: verdana;
	font-style: italic;
	padding: 1vw;
	padding-left: 1.3vw;
	padding-right: 1.3vw;
	border: 3px solid #FFFFFF;
	border-radius: 15px;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px -1px 16px 6px rgba(181,81,47,1);
	-moz-box-shadow: 0px -1px 16px 6px rgba(181,81,47,1);
	box-shadow: 0px -1px 16px 6px rgba(181,81,47,1);
}
.nav:hover{
	border-bottom: 2px solid #5c5c5c;
}